body{
    width: 414px;
    height: 736px;
    margin: 0;
}

p{
    margin-left: 27px;
    margin-right: 51px;
    color: #224D4F;
    font-size: 46px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif; 
    margin-top: 0;   
}

#headBold{
    font-weight: 700;
}

.logo{
    width: 131px;
    height: 50px;
    padding: 37px 256px 60px 27px;
}

.sofaImage{
    width: 284px;
    height: 313px;
    margin-left: 27px;
    float: left;
    position: relative;
    
}


.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 21px;
    background: #224D4F;
    padding: 24px 41px 24px 41px;
    text-decoration: none;
    position: relative;
    left: 195px;
    top: 608;
    bottom: 88px;
  }
  
  /* .btn:hover {
    background: #348ec7;
    text-decoration: none;
  } */

.logoGallary{
    width: 131px;
    height: 50px;
    padding: 37px 256px 30px 27px;
}


#card1 {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; */
  background-image: url("images/sofa.jpeg");
  background-size: 172px 202px;
  width: 172px;
  height: 202px;
  border-radius: 10px;
  border: 1pt solid #d5d9de;
  position: absolute;
  top: 117px;
  left: 27px;
}

#card2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background-image: url("images/table.jpeg");
    background-size: 172px 202px;
    width: 172px;
    height: 202px;
    border-radius: 10px;
    border: 1pt solid #d5d9de;
    position: absolute;
    left: 219px;
    top: 117px;
  }

  #card3 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background-image: url("images/bed.jpeg");
    background-size: 172px 202px;
    width: 172px;
    height: 202px;
    border-radius: 10px;
    border: 1pt solid #d5d9de;
    position: absolute;
    top: 338px;
    left: 27px;
  }

  #card4 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background-image: url("images/chair.jpeg");
    background-size: 172px 202px;
    width: 172px;
    height: 202px;
    border-radius: 10px;
    border: 1pt solid #d5d9de;
    position: absolute;
    left: 219px;
    top: 338px;
  }

  #card5 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background-image: url("images/tvstand.jpeg");
    background-size: 172px 202px;
    width: 172px;
    height: 202px;
    border-radius: 10px;
    border: 1pt solid #d5d9de;
    position: absolute;
    top: 559px;
    left: 27px;
  }

  #card6 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    background-image: url("images/wardrob.jpeg");
    background-size: 172px 202px;
    width: 172px;
    height: 202px;
    border-radius: 10px;
    border: 1pt solid #d5d9de;
    position: absolute;
    left: 219px;
    top: 559px;
  }
  

  

.titleBox{
    background-color: #224D4F;
    width: 173px;
    height: 44px;
    opacity: 90%;
    position: relative;
    top: 159px;
    border-radius: 0px 0px 10px 10px;  
}

.titleHere{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    top: 14px;
    left: 11px;
}



.btnBack {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    opacity: 95%;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    background: #000000;
    padding: 15px 189px 16px 189px;
    text-decoration: none;
    position: fixed;
    top: 686px;
  }
  
  .btnBack:hover {
    text-decoration: none;
  }

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* .titleBox {
  padding: 2px 16px;
} */