*{
  font-family: 'Roboto', sans-serif;
}

body{
    width: 414px;
    height: 736px;
    margin: 0;
}

p{
    margin-left: 27px;
    margin-right: 51px;
    color: #224D4F;
    font-size: 46px;
    font-weight: 300;
    margin-top: 0;   
}

#headBold{
    font-weight: 700;
}

.logo{
    width: 131px;
    height: 50px;
    padding: 37px 256px 60px 27px;
}

.sofaImage{
    width: 284px;
    height: 313px;
    margin-left: 27px;
    float: left;
    position: relative;
    
}

.btn {
    border-radius: 3px;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 21px;
    background: #224D4F;
    padding: 24px 41px 24px 41px;
    text-decoration: none;
    position: relative;
    left: 195px;
    top: 608;
    bottom: 88px;
    border-width: 0px;
  }

.logoGallery{
    width: 131px;
    height: 50px;
    padding: 37px 256px 30px 27px;
}

.container{
  margin-left: 27px;
}

.row{
  display: flex;
  margin-bottom: 19px;
}

.card {
  width: 172px;
  height: 202px;
  border-radius: 10px;
  border: 1pt solid #d5d9de;
  margin-right: 18px;
  display: inline-block;
}

.image{
  width: 173px;
  height: 202px;
  border-radius: 10px;
}

.titleBox{
    background-color: #224D4F;
    width: 173px;
    height: 44px;
    opacity: 90%;
    position: relative;
    top: -47px;
    border-radius: 0px 0px 10px 10px;  
}

.titleHere{
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    position: relative;
    top: 14px;
    left: 11px;
}

.btnBack {
    border-radius: 0px solid black;
    opacity: 95%;
    color: #FFFFFF;
    font-size: 16px;
    background: #000000;
    padding: 15px 189px 16px 189px;
    position: fixed;
    top: 686px;
    border-width: 0px;
  }

  #backButtonText{
    opacity: 70%;
  }

  .container, .main {
    animation: dissolve 0.3s;
    animation-timing-function: ease-out;
  }

  .footer{
    height: 100px;
  }

  @keyframes dissolve {
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  } 
