:root {
  --primaryColor: #000000;
  --pinkColor: #fae4f6;
  --skyBlue: #eaecfa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}
i {
  color: var(--primaryColor);
}
a {
  color: var(--primaryColor);
  text-decoration: none;
}

ul li {
  list-style: none;
}
/* a:hover {
  color: var(--primaryColor);
} */

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 500;
  line-height: 1;
}

h1,
.h1 {
  font-size: 4.625rem;
  color: var(--primaryColor);
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 3.375rem;
}

h4,
.h4 {
  font-size: 1.125rem;
  line-height: 3.375rem;
  padding: 0;
  margin: 0;
}

small,
.small {
  font-size: 0.875em;
  line-height: 1.3125rem;
}

p {
  font-size: 1.3125rem;
  line-height: 1.5;
}

section {
  padding: 5rem 0;
}

header .navbar-brand {
  font-size: 1.6875rem;
  color: #111529;
  font-weight: 400;
  line-height: 2;
}

.main {
  height: auto;
  /* height: calc(100vh - 6.5625rem); */
}

.main .displayImage {
  margin: 0 auto;
}

.designSection .displayImage img {
  height: 558px;
}

.toolSection .list {
  margin: 0 auto;
}

.toolSection .displayImage {
  margin: auto 0;
}

.showcase {
  background-color: var(--pinkColor);
  border-radius: 0.5rem;
}

.bgColor1 {
  background-color: var(--skyBlue);
}

.quotes .authorImage {
  width: 58px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 58px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.quotes .authorImage img {
  height: 100%;
}
.quotes .authorName {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}

.empty1{
  width: 642px;
  height: 478px;
}

.empty2{
  width: 418px;
  height: 478px;
}
