:root {
  --primaryColor: #000000;
  --pinkColor: #fae4f6;
  --skyBlue: #eaecfa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}
i {
  color: var(--primaryColor);
}
a {
  color: var(--primaryColor);
  text-decoration: none;
}

ul li {
  list-style: none;
}
/* a:hover {
  color: var(--primaryColor);
} */

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 500;
  line-height: 1;
}

h1,
.h1 {
  font-size: 4.625rem;
  color: var(--primaryColor);
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 3.375rem;
}

h4,
.h4 {
  font-size: 1.125rem;
  line-height: 3.375rem;
  padding: 0;
  margin: 0;
}

small,
.small {
  font-size: 0.875em;
  line-height: 1.3125rem;
}

p {
  font-size: 1.3125rem;
  line-height: 1.5;
}

section {
  padding: 5rem 0;
}

header .navbar-brand {
  font-size: 1.6875rem;
  color: #111529;
  font-weight: 400;
  line-height: 2;
}

hr {
  opacity: 5%;
}

.main {
  height: auto;
  padding-bottom: 0;
  /* height: calc(100vh - 6.5625rem); */
}

.main .displayImage {
  margin: 0 auto;
}

.designSection .displayImage img {
  height: 558px;
}

.toolSection .list {
  margin: 0 auto;
}

.toolSection .displayImage {
  margin: auto 0;
}

.showcase {
  background-color: var(--pinkColor);
  border-radius: 0.5rem;
}

.bgColor1 {
  background-color: var(--skyBlue);
}

.quotes .authorImage {
  width: 58px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 58px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.quotes .authorImage img {
  height: 100%;
}
.quotes .authorName {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}

.empty1 {
  width: 642px;
  height: 478px;
  background: #eaf3e9 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.empty2 {
  width: 418px;
  height: 478px;
  background: #faede7 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.card {
  border-radius: 8px;
  border-width: 0;
  font-weight: 400;
  background-color: #f8f8f8;
}

.card span {
  font-size: 1.18125rem;
  line-height: 7.4375rem;
}

.card h1 {
  font-size: 6.3125rem;
  line-height: 7.4375rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.1875rem;
}

.card .serviceItem li {
  font-size: 1rem;
  line-height: 1.9375rem;
  position: relative;
}

.serviceItem li::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/rightIcon.svg");
  position: absolute;
  left: -30px;
  top: 3px;
}

.starter .serviceItem li:nth-child(4)::before,
.starter .serviceItem li:nth-child(5)::before {
  opacity: 0.1;
}

.card .btn {
  border-radius: 8px;
}

.starter .btn-outline-dark {
  background-color: #ffffff;
  border: 1px solid var(--primaryColor);
  color: val(--primaryColor);
}

.starter .btn-outline-dark:hover {
  background-color: var(--primaryColor);
  color: #ffffff;
}

.btn-primary {
  background-color: var(--primaryColor);
  border: 1px solid transparent;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
}

.chat {
  width: 63px;
  height: 63px;
  margin: 1.0625rem;
  position: fixed;
  bottom: 1rem;
  right: 0;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  h1,
  .h1 {
    font-size: 3.625rem;
  }
  h2,
  .h2 {
    font-size: 2.5rem;
  }
  .main img {
    display: none;
  }

  .toolSection .list {
    margin-top: 3rem;
  }
}
