*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 1440px;
    height: 3936px;
}

h1{
    font-size: 2.625rem;
    font-weight: 700;
    color: #111529;
}

h2{
   font-size: 1.6875rem;
   font-weight: 700; 
   color: #111529;
   margin-bottom: 34px;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #111529;
}

h4{
    font-size: 1.125rem;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 27px;
}

p{
    font-size: 1.5rem;
    font: italic normal normal 1.5rem Roboto;
    color: #000000;
}

.images{
    margin-top: 30px;
    margin-bottom: 56px;
}

.main-container{
    margin: 47px 347px 0px 347px;
}

#logo{
    width: 79px;
    height: 87px;
}

.mainHead{
    margin-top: 34px;
    width: 582px;
    height: 249px;
}

#introImage{
    width: 746px;
    height: 498px;
    position: relative;
    top: -32px;
}

.Para{
    margin-top: 21px;
    margin-bottom: 34px;
}

.middle-container{
    width: 1440px;
    height: 360px;
    background: #480E83;
}

.middleContent{
    width: 634px;
    height: 96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#middlePara{
    
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-top: 75px;
}

.btn1 {
    border-radius: 0px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    background: #20C8B2;
    padding: 24px 41px 24px 41px;
    text-decoration: none;
    letter-spacing: 1.26px;
    border-width: 0px;
    position: relative;
    top: 43px;
    left: 217px;
  }

.bottom-container{
    width: 1440px;
    height: 360px;  
}

.bottomContent{
    width: 1134px;
    height: 221px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    display: flex;
}

.btn2 {
    border-radius: 0px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    background: #480E83;
    padding: 24px 41px 24px 41px;
    text-decoration: none;
    letter-spacing: 1.26px;
    border-width: 0px;
    margin-top: 38px;
}


.left h1{
    width: 437px;
    height: 111px;  
}

.right{
    margin-left: 145px;
}
